TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USERS=
TELEGRAM_HOME_CHANNEL=
TELEGRAM_ALLOW_ALL_USERS=
DISCORD_BOT_TOKEN=
DISCORD_ALLOWED_USERS=
DISCORD_ALLOWED_CHANNELS=
DISCORD_ALLOW_ALL_USERS=
EMAIL_ADDRESS=
EMAIL_PASSWORD=
EMAIL_IMAP_HOST=
EMAIL_IMAP_PORT=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_ALLOWED_USERS=
GATEWAY_ALLOW_ALL_USERS=
